/*** GLOBAL ***/
* {
  box-sizing: border-box;
}

/*** VARIABLER ***/
:root {
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-s: 0.5rem; /* 8px */
  --spacing-m: 0.75rem; /* 12px */
  --spacing-l: 1rem; /* 16px */
  --spacing-xl: 1.50rem; /* 24px */
  --spacing-xxl: 2rem; /* 32px */
}

/*** COMPOSITION ***/
.wrapper {
  box-sizing: border-box;
  max-width: 77.5rem;
  width: 100%;
  padding-left: var(--spacing-xl);
  padding-right: var(--spacing-xl);
  padding-top: calc(2 * var(--spacing-xl));
  padding-bottom: calc(2 * var(--spacing-xl));
  /* 77.5 rem + 3rem = 1240px + 48px = Hemsidans totala bredd är 1288 px */
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.wrapper--white {
    background-color: var(--clr-primary-light-1);
  }

.wrapper--green {
    background-color: var(--clr-accent-light-1);
}

.wrapper--footer {
    background-color: var(--clr-accent);
}
/***************************************************/

/*** LOGO ***/
.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-m);
  color: var(--clr-accent);
}

.logo__text {
  line-height: 0.8;
  font-size:  var(--fs-500);
  font-weight: var(--fw-semi-bold);
}

/*** HEADER & NAV ***/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--spacing-xs) + var(--spacing-l)) 0 calc(var(--spacing-xs) + var(--spacing-l));
}

.nav__menu {
  height: 100%;
  justify-content: flex-end;
}

.nav__links {
  display: flex;
  height: 100%;
  font-size: var(--fs-500);
}

.nav__links a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: var(--spacing-l) calc(var(--spacing-xs) + var(--spacing-xxl));
  transition: background-color 0.3s ease, color 0.3s ease;
  text-decoration: none;
}

.nav__links a:hover,
.nav__links a:focus-visible {
  background-color: var(--clr-accent);
  color: var(--clr-primary-light-1);
}



/*** HEADER & NAV -- HAMBURGARMENY ****/
.nav__hamburger {
  display: none; /* Döljer ikon vid desktop-vy */
}

.hamburger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: var(--spacing-s);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hamburger-btn svg {
  width: var(--spacing-xxl);
  height: var(--spacing-xxl);
  stroke: var(--clr-accent);
  transition: stroke 0.3s ease;
}

.hamburger-btn:hover,
.hamburger-btn:focus-visible {
  background-color: var(--clr-accent);
}

.hamburger-btn:hover svg,
.hamburger-btn:focus-visible svg 
{
  stroke: var(--clr-primary-light-1);
}

/* MAIN -- HERO */
.hero {
  margin: 0 auto;
  display: grid;
  align-content: center;
  justify-content: stretch; /* Gör sektionen mer responsiv */
  gap: 1rem;
}

.hero p,
.hero h2 {
    text-align: center;
}

.hero__collage {
  display: grid;
  /* height: 50rem; */
  max-height: 50rem;
  min-height: 40rem;
  border: solid 1rem var(--clr-primary-light-1);
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, 1fr);  
  grid-template-areas:
    "a a b c d d"
    "a a e e f f";
    
  box-shadow: var(--border-shadow);
}

.hero__collage li[data-grid="a"] { grid-area: a; }
.hero__collage li[data-grid="b"] { grid-area: b; }
.hero__collage li[data-grid="c"] { grid-area: c; }
.hero__collage li[data-grid="d"] { grid-area: d; }
.hero__collage li[data-grid="e"] { grid-area: e; }
.hero__collage li[data-grid="f"] { grid-area: f; }

.hero__collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MAIN -- Nyhetsbrev */
.newsletter {
  display: flex; /* Flexbox låter mig kontrollera avståndet mellan elementen bättre samtidigt som de är centrerade */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.newsletter svg {
  width: 50%;
  height: 50%;
  overflow: visible;
  padding: 3.6rem;
  background-color: var(--clr-green-400);
  border-radius: 100%;
  pointer-events: none; 
}
.newsletter__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter__subscribe {
  width: fit-content;
  max-width: 55ch;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.newsletter__subscribe h2 {
  max-width: 22rem;
  align-self: flex-start
}

.newsletter__form-wrapper {
  align-self: flex-start;
  display: flex;
  align-items: center;
  border: 2px solid var(--clr-primary-light-3);
  border-radius: 2.5rem;
  background-color: transparent;
  padding: var(--spacing-xs) var(--spacing-xs);
}

.newsletter__form--input {
  width: 100%;
  padding: var(--spacing-m);
  border: none;
  border-radius: 2.5rem;
  background-color: transparent;
  color: var(--clr-accent-dark);
}

.newsletter__form--input::placeholder {
  color: var(--clr-primary-light-3);
}

.newsletter__form--btn {
  background-color: var(--clr-green-400);
  border: 2px solid transparent;
  padding: var(--spacing-s) var(--spacing-l);
  border-radius: 2.5rem;
  cursor: pointer;
  font-weight: var(--fw-600);
}

.newsletter__form--btn:hover {
  background-color: var(--clr-accent-dark);
  color: var(--clr-green-400);
  border: 2px solid var(--clr-green-400);
  outline-offset: 4px;
}

.newsletter__form--input:focus {
  outline: none;
  border-color: inherit;
}

.newsletter__form-wrapper:focus-within {
  border-color: var(--clr-green-400); /* Ändrar textfältens yttre bordern */
}

.newsletter__form--input:-webkit-autofill { /* Gör att utseendet förblir detsamma vid suggestions */
  background-color: var(--clr-primary-light-1) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--clr-primary-light-1) inset !important; 
  -webkit-text-fill-color: black !important;
}

/* MAIN -- Plantor Grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-xl);
  padding: var(--spacing-xl);
}

.card {
  background-color: var(--clr-primary-light-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: var(--border-shadow); 
}

/* MAIN -- Plantor Grid - Bild */
.card__image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card svg {
  position: absolute;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
  z-index: 1;
  pointer-events: none; 
}

/*** MAIN - Plantor Grid -- Taggar ***/
.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
  padding: var(--spacing-s) var(--spacing-l) 0 var(--spacing-l);
  list-style: none;
  margin: 0;
}

.card__tag {
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: var(--fw-600);
  color: white;
}

.card__tag--inomhus {
  background-color: var(--clr-easy);
}

.card__tag--utomhus {
  background-color: var(--clr-robust);
}

.card__tag--lättskött {
  background-color: var(--clr-fast);
}

.card__tag--solälskande {
  background-color: var(--clr-sunloving);
}

.card__tag--skuggtålig {
  background-color: var(--clr-green);
}

.card__tag--luftrenande {
  background-color: var(--clr-air);
}

.card__tag--blommande {
  background-color: var(--clr-flower);
}

.card__tag--ätbar {
  background-color: var(--clr-edible);
}

.card__tag--torktålig {
  background-color: var(--clr-colorful);
}

.card__tag--doftande {
  background-color: var(--clr-fragrant);
}


/* MAIN -- Plantor Grid - Rubrik och beskrivning */
.card__title {
  font-size: var(--fs-600);
  padding: var(--spacing-s) var(--spacing-l) 0 var(--spacing-l);
}

.card__description {
  font-size: var(--fs-400);
  padding: 0 var(--spacing-l) var(--spacing-l) var(--spacing-l);
  color: var(--clr-primary-dark);
}

/* MAIN -- Plantor Grid - Footer */
.card__footer {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  padding: var(--spacing-s) var(--spacing-l);
  margin-top: auto;
}

.card__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.card__user-info {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-400);
}

.card__username {
  font-weight: var(--fw-semi-bold);
}

.card__date {
  font-size: var( --fs-200);
  color: var(--clr-primary-light-3);
}

/* MAIN -- Planterade Plantor */

.plantedplants {
  display: flex; /* Flexbox låter mig kontrollera avståndet mellan elementen bättre samtidigt som de är centrerade */
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
  flex-wrap: wrap;
}

.plantedplants svg {
  width: 50%;
  height: 50%;
  overflow: visible;
  padding: 3.6rem;
  background-color: var(--clr-green-400);
  border-radius: 100%;
  pointer-events: none; 
}


.plantedplants__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plantedplants__readmore {
  width: fit-content;
  max-width: 55ch;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.plantedplants__form {
  display: flex;
  justify-content: flex-end;  
}

.plantedplants__form--btn {
  background-color: var(--clr-green-400);
  border: 2px solid transparent;
  padding: var(--spacing-s) var(--spacing-l);
  border-radius: 2.5rem;
  cursor: pointer;
  font-weight: var(--fw-600);
}

.plantedplants__form--btn:hover {
  background-color: var(--clr-accent-dark);
  color: var(--clr-green-400);
  border: 2px solid var(--clr-green-400);
}

/** FOOTER **/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--clr-primary-light-1)
}

.footer .logo{
  color: var(--clr-primary-light-1)
}

.footer__information {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);;
  width: 60ch;
  height: auto;

}

.footer__tele,
.footer__email {
  display: flex;
  gap: var(--spacing-m);
  align-items: center;
  width: fit-content;
}

.footer__nav {
  justify-content: flex-end;  
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  height: 100%;
  font-size: var(--fs-500);
}

.footer a {
  color: var(--clr-primary-light-1);
  cursor: pointer;
}

.footer__links a {
  text-decoration: none;
}

/***************************************************/

/****** RESPONSIV ******/

@media (width < 1000px) {
  /** MAIN */
  .hero__collage {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "a b"
      "c d"
      "e f";
  }

  .newsletter,
  .plantedplants {
    flex-direction: column;
    gap: 2rem;
  }

  .newsletter__icon { order: 1; }
  .newsletter__subscribe { order: 2; }

  .newsletter,
  .plantedplants h2 {
    text-align: center;
  }

  .newsletter,
  .plantedplants p {
    text-align: center;
  }
}

@media (width < 768px) {

  /** HEADER & NAVBAR **/
  .nav__menu {
    display: none;
  }

  .nav__hamburger {
    display: block;
  }
  /** MAIN **/
  .hero__collage {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "a b c"
      "d e f";
  }
  /** FOOTER **/
  .footer__nav {
    visibility: hidden;
  }
}